<form method="post" action="{{ path('app_examen_delete', {'id': examan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ examan.id) }}">
    <button class="btn">Delete</button>
</form>
